header {
  font-size: larger;
  margin-bottom: 5px;
}

header .front-title {
  font-weight: bold;
}

header .front-subtitle {
  font-style: italic;
  color: gray;
}

.post-title {
  margin-bottom: 5px;
  font-size: larger;
}

.post-date {
  font-style: italic;
  font-size: large;
  margin-top: 0px;
  color: gray;
}

p a, span a {
  border-bottom: 1px solid gray;
}

a {
  text-decoration: none;
  color: black;
  /* border-bottom: 1px solid gray; */
}

a:hover {
  color: gray;
}

nav {
  margin-bottom: 30px;
}

nav .nav-item-current {
  color: gray;
}

p {
  line-height: 1.4em;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: larger;
}

body {
  font-family: 'Times New Roman', Times, serif; 
  margin: auto;
  padding: 20px;
  padding-top: 40px;
  max-width: 800px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: larger;
}

/* blog list */

.blog-list {
  list-style-type: none;
  padding: unset;
}

.blog-list li {
  margin-bottom: 10px;
  display: flex;
}

.blog-list-date {
  font-style: italic;
  display: inline-block;
  color: gray;
  flex: 0 0 125px;
}

/* blog list end */