:root {
  --light-gray-color: #858585;
  --gray-color: #515151;
  --dark-gray-color: #363636;
}

header {
  font-size: large;
  margin-bottom: 12px;
}

header .front-title {
  font-weight: bold;
}

header .front-subtitle {
  font-style: italic;
  color: var(--light-gray-color);
}

.post-title {
  margin-bottom: 5px;
  font-size: x-large;
}

.post-date {
  font-style: italic;
  font-size: large;
  margin-top: 0px;
  color: var(--light-gray-color);
}

a {
  text-decoration: none;
  color: var(--light-gray-color);
  
  border-bottom: 1px dotted var(--dark-gray-color);
}

a:hover {
  color: var(--dark-gray-color);
}

nav {
  margin-bottom: 30px;
}

nav .nav-item-current {
  font-weight: bold;
  color: var(--gray-color);
}

p {
  line-height: 1.75em;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: larger;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  padding: 20px;
  padding-top: 40px;
  max-width: 720px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: larger;
}

/* blog list */

.blog-list {
  list-style-type: none;
  padding: unset;
}

.blog-list li {
  margin-bottom: 15px;
  display: flex;
}

.blog-list-date {
  font-style: italic;
  display: inline-block;
  color: var(--gray-color);
  flex: 0 0 125px;
}

.blog-list-title {
  color: black;
}

.blog-list-title:hover {
  color: var(--light-gray-color);
}

/* blog list end */