/* @import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    /* background-color: #3f3f3f; */
    /* background-color: #31281a; */
}

body {
    /* font-family: Inter, 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif; */
    /* font-family: sans-serif, 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* color: #161616; */
    /* font-size: larger; */
    margin: auto;
    /* margin-left: 100px; */
    padding: 20px;
    max-width: 800px;
    text-align: left;
    /*background-color: #fff;*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    /*color: #444;*/
}

/*
h1, h2, h3, h4, h5, h6, strong, b {
    color: #222;
} */

.title {
    /* text-align: center; */
    font-size: x-large;
    margin-bottom: 0px;
}

h1 {
    font-size: x-large;
    margin-bottom: 0px;
}

nav {
    margin-bottom: 30px;
    font-size: large;
    /* text-align: center; */
}

a {
    /* color: #3273dc; */
    /* cursor: pointer; */
    text-decoration: none;
    color: rgb(168, 160, 149);
}

a:hover {
    text-decoration: none; 
    color: #dcdccc;
}

/* nav a {
    margin-right: 10px;
} */

footer {
    max-width: 100%;
    padding-top:30px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
}

blockquote {
    border-left: 1px solid #999;
    padding: 5px;
    background-color: #f2f2f2;
    /*color: #222; */
    padding-left: 20px;
    font-style: italic;
}

highlight {
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-weight: bold;
}

code {
    font-family: monospace;
    padding: 5px;
    background-color: #f2f2f2;
    /*color: #222; */
    border-radius: 10px;
}

/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181a1b;
        color: #fff;
    }

    code {
        background-color: #2c2c2c;
    }

    a {
        color: #8cc2dd;
    }

    blockquote {
        color: #fff;
        background-color: #2c2c2c;
    }

    highlight {
        padding: 5px;
        background-color: #2c2c2c;
        border-radius: 10px;
        font-weight: bold;
    }

    .helptext {
        color: #aaa;
    }
}
*/